*/settings/local.py
*.py[co]
*.sw[po]
.coverage
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
*-min.css
*-all.css
*-min.js
*-all.js
.noseids
tmp/*
*~
*.mo
db/
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
media/*
static/*
.idea/
*/base/static/css/bootstrap.css
*/base/static/css/bootstrap.min.css
*/base/static/img/glyphicons-halflings-white.png
*/base/static/img/glyphicons-halflings.png
*/base/static/css/aplication.css
*/base/static/css/aplication.min.css
*/base/static/css/bootstrap-responsive.css
*/base/static/css/bootstrap-responsive.min.css
