[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "extras/fontawesome"]
	path = extras/fontawesome
	url = git://github.com/FortAwesome/Font-Awesome.git
[submodule "extras/jquery-equal-heights"]
	path = extras/jquery-equal-heights
	url = git://github.com/filamentgroup/jQuery-Equal-Heights.git
[submodule "extras/jquery-pixel-em-converter"]
	path = extras/jquery-pixel-em-converter
	url = git://github.com/filamentgroup/jQuery-Pixel-Em-Converter.git
[submodule "extras/noty"]
	path = extras/noty
	url = git://github.com/needim/noty.git
