*/settings/local.py
.virtualenv/
*.py[co]
*.sw[po]
.coverage
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
*-min.css
*-all.css
*-min.js
*-all.js
.noseids
tmp/*
*~
*.mo
/db
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
/public/media
static/*
/public/static
public/system
.idea/
#*/base/static/css/bootstrap*
#*/base/static/img/glyphicons-halflings*
#*/base/static/css/aplication.*
#*/base/static/js/libs/bootstrap.*
#*/base/static/font/fontawesome-*
/log
/system
/userena
atlassian-ide-plugin.xml
