{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
<h1>{% trans 'Authentication' %}</h1>
{% if user.is_authenticated %}
Что такое, {{ user.username }}? Вы же уже авторизорваны. 
Впрочем, всегда можно <a href="{% url auth_logout %}">{% trans 'Log Out' %}</a>.<br/><br/>
{% else %}

<form method="post" id="login_form" action="{{ request.get_full_path }}" class="form-horizontal"> {% csrf_token %}
{% if form.non_field_errors %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">×</button>
  {{ form.non_field_errors }}
</div>
{% endif %}
    {% include "base/field.html" with field=form.username|attr:"autofocus"|add_error_class:"error" %}
    {% include "base/field.html" with field=form.password|add_error_class:"error" %}
<button name="login_submit" type="submit" value="Log In" class="btn btn-large btn-primary">{% trans 'Log In' %}</button>
</form>
<br/><br/>
<ul>
    <li><a href="{% url auth_password_reset %}">Забыли пароль?</a></li>
    <li><a href="{% url registration_register %}">Регистрация</a></li>
</ul>   
{% endif %}
{% endblock %}
