{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
<h1>Авторизация</h1>
{% if user.is_authenticated %}
Что такое, {{ user.username }}? Вы же уже авторизорваны. 
Впрочем, всегда можно <a href="{% url auth_logout %}">{% trans 'Log Out' %}</a>.<br/><br/>
{% else %}

<form method="post" id="login_form" action="{{ request.get_full_path }}" class="form-horizontal"> {% csrf_token %}
{% if form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}
<legend>{% trans 'Log In' %}</legend>
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd class="clearfix">{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
    </dd>
{% endfor %}
<button name="login_submit" type="submit" value="Log In" class="btn btn-large btn-primary">{% trans 'Log In' %}</button>
</form>
    
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>

 <br/><br/>
<ul>
    <li><a href="{% url auth_password_reset %}">Забыли пароль?</a></li>
    <li><a href="{% url registration_register %}">Регистрация</a></li>
</ul>   
{% endif %}
{% endblock %}
