{% extends "layout_3_col.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans 'Register' %}{% endblock %}
{% block content %}
<h1>Регистрация</h1>
<form method="post" action=""> {% csrf_token %}
  <legend>Register</legend>
{% if form.non_field_errors %}
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{ form.non_field_errors }}
  </div>
{% endif %}
{% include "base/field_user.html" with field=form.username %}
{% include "base/field_email.html" with field=form.email %}
{% include "base/field_password.html" with field=form.password1 %}
{% include "base/field_password.html" with field=form.password2 %}
<button name="registration_submit" type="submit" value="Register" class="btn btn-large btn-primary js-disable-on-click" data-loading-text="{%trans 'Registering...' %}">{% trans 'Register' %}</button>
</form>
{% endblock %}

