{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
<h1>Регистрация</h1>
<form method="post" action=""> {% csrf_token %}
  <legend>Register</legend>
{% if form.non_field_errors %}
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{ form.non_field_errors }}
  </div>
{% endif %}
    <label class="control-label{% if form.username.field.required %} required{% endif %}" for="{{ form.username.auto_id}}">{{ form.username.label_tag }}</label>
    {{ form.username }}
<button name="registration_submit" type="submit" value="Register" class="btn btn-large btn-primary js-disable-on-click" data-loading-text="{%trans 'Registering...' %}">{% trans 'Register' %}</button>
</form>
{% endblock %}

