{% load i18n %}
{% load widget_tweaks %}
<div class="control-group{% if field.errors %} error{% endif %}" id="gr_{{ field.auto_id}}">
  <label class="control-label{% if field.field.required %} required{% endif %}" for="{{ field.auto_id}}">{{ field.label_tag }}</label>
  <div class="controls">
    <div class="input-prepend"><span class="add-on"><i class="icon-user"></i></span>{{ field }}</div><span class="help-inline" id="e_{{ field.auto_id}}">{% if field.errors %}{{ field.errors }}{% endif %}</span>
    <span class="help-block" id="h_{{ field.auto_id}}">{% if field.help_text %}{{ field.help_text }}{% endif %}</span>
  </div>
</div>
