<!doctype html>{% load i18n static dajaxice_templatetags compress %}
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ LANGUAGE_CODE }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block page_title %}{{ _("Your Site") }}{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}" />
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
  <meta name="author" content="{% block meta_author %}Oleg Dolya{% endblock %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="{% static "css/aplication.css" %}" type="text/css" charset="utf-8">
  {% block css %}{% endblock %}
  <!--<script src="{% static "js/libs/modernizr-2.5.3.min.js" %}" type="text/javascript" charset="utf-8"></script>-->
  <script src="{% static "js/libs/modernizr-2.5.3-respond-1.1.0.min.js" %}" type="text/javascript" charset="utf-8"></script>
  {% block extrajs %}{% endblock %}
  <!--<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">-->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "apple-touch-icon-114x114-precomposed.png" %}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "apple-touch-icon-72x72-precomposed.png" %}">
  <link rel="apple-touch-icon-precomposed" href="{% static "}apple-touch-icon-57x57-precomposed.png" %}">
  <link rel="shortcut icon" href="{% static "favicon.png" %}">
  <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
  <!--<script type="text/javascript" charset="utf-8">(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>-->
  {% block extrahead %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
{% block header %}
<header id="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="http://sky5.com.ua">Sky5.com.ua</a>
        <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="{% url home %}"><i class="icon-home"></i> {% trans 'Home' %}</a></li>
            <li><a href="/about"><i class="icon-info-sign"></i> {% trans 'About' %}</a></li>
        </ul>
            <ul class="nav pull-right">
                    <form action="/i18n/setlang/" method="post" id="locale_switcher" class="navbar-form pull-left">{% csrf_token %}
                       <input name="next" type="hidden" value="{{ request.path }}"/>
                        <select name="language" onchange="$('#locale_switcher').submit()">
                            {% for lang in LANGUAGES %}
                                <option value="{{ lang.0 }}"
                                        {% if request.LANGUAGE_CODE == lang.0 %}selected{% endif %}>{{ lang.1 }}</option>
                            {% endfor %}
                        </select>
                        <noscript>
                          <button type="submit" class="btn">{% trans "Change language" %}</button>
                        </noscript>
                    </form>
                <li  class="divider-vertical"><a href="/contact"><i class="icon-envelope-alt"></i> {% trans 'Contact' %}</a></li>
                <li  class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> {% if user.is_authenticated %}{{ user.username }}{% else %}{% trans 'Login or register' %}{% endif %} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                    <li><a href="{% url userena_profile_detail user.username %}">{% trans 'Account' %}</a></li>
                        <li><a href="{% url userena_signout %}"><i class="icon-signin"></i> {% trans 'Signout' %}</a></li>
                        {% if user.is_staff %}
                        <li class="divider"></li>
                        <li><a href="/admin/"><i class="icon-signin"></i> {% trans 'Admin' %}</a></li>
                        {% endif %}
                    {% else %}
                    <li><a href="{% url userena_signin %}">Login</a></li>
                    <li><a href="{% url userena_login %}" id='goLogin' data-toggle="modal" data-target="#loginModal"><i class="icon-signin"></i> {% trans 'Signin' %}</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url userena_register %}" id="goReg" data-toggle="modal" data-target="#regModal"><i class="icon-key"></i> {% trans 'Signup' %}</a></li>
                    {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    </div>
</header>
{% endblock %}
{% block layout %}
<div id="main">
  <div class="container">
      <div class="row">
          <div class="span3" id="sidebar">
          {% block sidebar %}
            <h3>Sidebar</h3>
          {% endblock %}
          </div>
          <div class="span9" id="content">
          {% block content %}
              <h1>Content</h1>
              <a href="index.html">Sample</a>
          {% endblock %}
          </div>
      </div>
  </div>
</div>
{% endblock %}
{% block footer %}
<footer id="footer" class="navbar-fixed-bottom">
    <div class="container">
        <p id="copy">Авторские права &copy; <a href="http://sky5.com.ua">Oleg Dolya</a> 2012</p>
    </div>
</footer>
{% endblock %}
  <!-- JavaScript at the bottom for fast page loading -->
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script>window.jQuery || document.write('<script src="{% static "js/libs/jquery-1.7.1.min.js" %}"><\/script>')</script>
  <script type="text/javascript" src="{% static "js/jquery.ba-serializeobject.min.js" %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static "dajax/jquery.dajax.core.js" %}" type="text/javascript" charset="utf-8"></script>
  {% dajaxice_js_import %}
  <script src="{% static "js/libs/prettify.js" %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static "js/libs/bootstrap.min.js" %}" type="text/javascript" charset="utf-8"></script>
{% compress js %}
  <script src="{% static "js/noty/jquery.noty.js" %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static "js/noty/layouts/topRight.js" %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static "js/noty/themes/default.js" %}" type="text/javascript" charset="utf-8"></script>
  <!-- scripts concatenated and minified via build script -->
  <script src="{% static "js/plugins.js" %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static "js/script.js" %}" type="text/javascript" charset="utf-8"></script>
{% endcompress %}
  <!-- end scripts -->
<script type="text/javascript" charset="utf-8">
  // Use the modernizr.load() function to run polyfills for older browsers.
  Modernizr.load({
      
      });
{% if messages %}
            {% for message in messages %}
var noty = noty({text: '{{ message }}', timeout: 5000, layout: 'topRight', type: '{% if message.tags %}{{ message.tags }}{% endif %}', dismissQueue: true});
            {% endfor %}
    {% endif %}

</script>
    <div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
             aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="loginModalLabel">{% trans "Signin" %}</h3>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="submit" data-loading-text="Loading..." id="load_signin_form"
                  class="btn btn-primary">{% trans "Signin" %}</button> <a href="{% url userena_password_reset %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a>
            </div>
        </div>
    <div id="regModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="regModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="refModalLabel">{% trans "Signup" %}</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
            <button type="submit" data-loading-text="Loading..." id="load_sigup_form"
                    class="btn btn-primary">{% trans "Signup" %}</button>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8">
        $('#load_signin_form').click(function(){
              //$('#load_sigup_form').val("Loading...");
              Dajaxice.signin_form(Dajax.process,{'form':$('#signin_form').serialize(true)});
              //$('#load_sigup_form').val({% trans "Signup"%});
            });
     $('#load_sigup_form').click(function(){
      //$('#load_sigup_form').val("Loading...");
      Dajaxice.sigup_form(Dajax.process,{'form':$('#sigup_form').serialize(true)});
      //$('#load_sigup_form').val({% trans "Signup"%});
    });
    //Dajaxice.DjangoApp.base.say_hello(Dajax.process);
    </script>

<script type="text/javascript" charset="utf-8"> $(function(){if($.browser.msie&&parseInt($.browser.version,10)===6){$('.row div[class^="span"]:last-child').addClass("last-child");$('[class="span"]').addClass("margin-left-20");$(':button[class="btn"], :reset[class="btn"], :submit[class="btn"], input[type="button"]').addClass("button-reset");$(":checkbox").addClass("input-checkbox");$('[class^="icon-"], [class=" icon-"]').addClass("icon-sprite");$(".pagination li:first-child a").addClass("pagination-first-child")}}) </script>
{% endblock %}
</body>
</html>
